<h3>Hi <%= @user.nickname %></h3>

Congratulations : <b>it seems you won something !</b>

<p>You just received this message on twitter : "<%= @message %>"</p>

<p>Connect to twitter and check your direct messages.</p>

Want to win more gifts ? <a href="http://twitwin.com">Click here</a> and Keep playing on <a href="http://twitwin.com">Twitwin</a>

<br><br>
<hr align="left" width="50px">
The Twitwin team