---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="byrT1MImpBvXWN3nyhASlUT58", oauth_nonce="4525d5370f31364942ffaf8ab729eb2d",
        oauth_signature="m%2Ft7CR04iSeQX2nUdKXMVAPl6NA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440355165", oauth_token="3163966989-r24o8ueRiLQo7jgRMg5IpOkK2U3izmZknxRnn4d",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Aug 2015 18:39:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - bc29bef38b78a75705075bbc19627de2
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1440356065'
      X-Response-Time:
      - '153'
      X-Transaction:
      - 2f965df32cd30135
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":3163966989,"id_str":"3163966989","name":"vda test account","screen_name":"VdaTest","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":15,"listed_count":0,"created_at":"Mon
        Apr 13 12:52:46 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":15,"lang":"fr","status":{"created_at":"Sun
        Aug 23 12:02:47 +0000 2015","id":635421926299713536,"id_str":"635421926299713536","text":"RT
        @ConcoursGirly: \ud83d\udc8bRT ET FOLLOW MOI + @StarsConcours_ ET ABONNE TOI
        : https:\/\/t.co\/S6RTbEa5QC POUR GAGNER UNE NAKED ! TIRAGE AUX 6K !\ud83d\udc8b
        htt\u2026","source":"\u003ca href=\"http:\/\/www.twitwin.com\" rel=\"nofollow\"\u003eTwitwinApp\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Aug 21 20:53:48 +0000 2015","id":634830784554209284,"id_str":"634830784554209284","text":"\ud83d\udc8bRT
        ET FOLLOW MOI + @StarsConcours_ ET ABONNE TOI : https:\/\/t.co\/S6RTbEa5QC
        POUR GAGNER UNE NAKED ! TIRAGE AUX 6K !\ud83d\udc8b http:\/\/t.co\/IFQJ7vwupM","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":159,"favorite_count":37,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"StarsConcours_","name":"Boutique\/Concours","id":2589236038,"id_str":"2589236038","indices":[20,35]}],"urls":[{"url":"https:\/\/t.co\/S6RTbEa5QC","expanded_url":"https:\/\/m.youtube.com\/channel\/UCQtTCbfdFCYkPtFKqdVWw-g","display_url":"m.youtube.com\/channel\/UCQtTC\u2026","indices":[52,75]}],"media":[{"id":634830771635793921,"id_str":"634830771635793921","indices":[117,139],"media_url":"http:\/\/pbs.twimg.com\/media\/CM9fOSvWsAEoNk0.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CM9fOSvWsAEoNk0.jpg","url":"http:\/\/t.co\/IFQJ7vwupM","display_url":"pic.twitter.com\/IFQJ7vwupM","expanded_url":"http:\/\/twitter.com\/ConcoursGirly\/status\/634830784554209284\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":226,"resize":"fit"},"medium":{"w":500,"h":333,"resize":"fit"},"large":{"w":500,"h":333,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}}}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"fr"},"retweet_count":159,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ConcoursGirly","name":"Boutique
        Girly \u2766","id":3367812371,"id_str":"3367812371","indices":[3,17]},{"screen_name":"StarsConcours_","name":"Boutique\/Concours","id":2589236038,"id_str":"2589236038","indices":[39,54]}],"urls":[{"url":"https:\/\/t.co\/S6RTbEa5QC","expanded_url":"https:\/\/m.youtube.com\/channel\/UCQtTCbfdFCYkPtFKqdVWw-g","display_url":"m.youtube.com\/channel\/UCQtTC\u2026","indices":[71,94]}],"media":[{"id":634830771635793921,"id_str":"634830771635793921","indices":[139,140],"media_url":"http:\/\/pbs.twimg.com\/media\/CM9fOSvWsAEoNk0.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CM9fOSvWsAEoNk0.jpg","url":"http:\/\/t.co\/IFQJ7vwupM","display_url":"pic.twitter.com\/IFQJ7vwupM","expanded_url":"http:\/\/twitter.com\/ConcoursGirly\/status\/634830784554209284\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":226,"resize":"fit"},"medium":{"w":500,"h":333,"resize":"fit"},"large":{"w":500,"h":333,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"source_status_id":634830784554209284,"source_status_id_str":"634830784554209284","source_user_id":3367812371,"source_user_id_str":"3367812371"}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"fr"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 23 Aug 2015 18:39:25 GMT
recorded_with: VCR 2.9.3
